<div class="p-5">
    <div class="d-flex pb-3">
        <div>
            <input type="checkbox" #chb (change)="checkAll(chb.checked)" id="chall" /> <label for="chall" class="ms-1 me-3">Check all</label>
        </div> 
        <div>
            <input type="text" #srch (keyup)="searchMovie(srch.value)" />
            <button (click)="clear();srch.value=''">Clear</button>
        </div>
        
    </div>
    <div>
    
        <app-card  *ngFor="let item of movies$ | async">

            <div card-header>
                <span *ngIf="!item._isEdit" >{{ item.name }}</span>
                <span *ngIf="item._isEdit" >
                    <input type="text" [value]="item.name"  #edIt (keyup)="editItemField(edIt.value)" class="w-50"  />
                </span>
            </div>
            <div card-body>Онлайн:  <input type="checkbox" [checked]="item.isOnline" /></div>
            <div card-actions>
                <button class="btn btn-sm  me-3 btn-light" (click)="edit(item)" [disabled]="!item._isEdit && (editItemField$ | async )!='empty'"> {{item._isEdit ? 'save' : 'edit' }}</button> 
                <button class="btn btn-sm btn-light" (click)="delete(item.id)">delete</button>
            </div>
        </app-card>
    </div>
</div>
